@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://api.fontshare.com/v2/css?f[]=satoshi@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primaryColor: #000000;
  --secondaryColor: #000000;
  --tertiaryColor: #f6f6f6;
  --bodyFontDesktop: 22px;
  --bodyFontDesktopFooter: 18px;
  --bodyFontPhone: 16px;
  --bodyFontPhoneFooter: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  background-color: var(--tertiaryColor);
  font-family: "Satoshi", sans-serif;
}

/* Resetting margins and padding */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-weight: 100;
}

a {
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

button {
  transition: all 0.15s ease-in-out;
}
